<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "BoardNerd" %></h2>
  <p class="lead">A social BoardGame app!</p>
  <p>To create a new account, <%= link "click here", to: user_path(@conn, :new) %></p>
</div>